:root {
    --branco: white;
    --font-nserie: "Mozilla Headline", sans-serif;

    --corUm: #0442BF;
    --corDois: #05C7F2;
    --corTres: #F9C326;
    --corQuatro: #01A046;
    --corCinco: #BF2121;
}