:root {
    --branco: white;
    --font-nserie: "Mozilla Headline", sans-serif;

    --azul: #0442BF;
    --azul-var1: #02173f;
    --azul-var2: #05C7F2;
    --yellow: #F9C326;
    --green: #01A046;
    --corCinco: #BF2121;
}