.contain-crts__carta {
    background: url(/assets/img/cartasbanner/later.png); /*personagem*/
    background-size: 320px 460px; /*largura, altura*/
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 350px;
}

.carta {
    background: url(/assets/img/cartasbanner/moldura-cartas.png);
    background-size: cover;
    background-position: center;
       
    display: grid;
    grid-template: 40px 1fr 74px / 1fr;
    grid-template-areas: 
        "superior"
        "meio"
        "inferior";
    height: 100%;
    width: 100%;
}

/*top*/
.carta__power {
    align-self: end;
    font-size: 1.5em;
    grid-area: superior;
    justify-self: end;
    margin-right: 52px;
}

.carta__dom-descr {
    align-self: end;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 8px;
    color: var(--branco);
    font-size: 15px;
    margin-bottom: 20px;
    justify-self: center;
    padding: 5px;
    height: 35%;
    width: 88%;
}




