.contain-crts__carta {
    background-image: url(../../img/cartasbanner/later.png); /*personagem*/
    background-size: 320px 460px; /*largura, altura*/
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 10px;
    list-style: none;
    height: 500px;
    width: 350px;
}

.contain-crts__carta.espada {
    background-image: url(../../img/cartasbanner/download.jfif); /*Tem que por js*/
}

.carta {
    background-image: url(../../img/cartasbanner/moldura-cartas.png);
    background-size: cover;
    background-position: center;
       
    display: grid;
    grid-template: .5fr 5.3fr 1fr / 1fr;
    grid-template-areas: 
        "superior"
        "meio"
        "inferior";
    height: 100%;
    width: 100%;
}

.carta.espada {
    background-image: url(../../img/cartasbanner/moldura-cartas-espada.png);
}

/*top*/
.carta__power {
    align-self: end;
    font-size: 1.5em;
    grid-area: superior;
    justify-self: end;
    margin-right: 52px;
}

.carta__dom-descr {
    align-self: end;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 8px;
    color: var(--branco);
    font-size: 15px;
    font-style: italic;
    line-height: 18px;
    margin-bottom: 20px;
    justify-self: center;
    text-align: justify;
    padding: 5px;
    height: 35%;
    width: 88%;
}

.carta__dom-descr .st-dom  {
    background-color: rgb(255, 251, 42);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 1px 6px;
    margin-right: 5px;
}

/*inferior*/
.carta__contain-inferior {
    align-items: start;
    color: var(--branco);
    display: grid;
    font-size: 12px;
    grid-template:  1fr / 1fr 1.5fr 1fr ;
    grid-template-areas: 
        "inicio meio fim"; /*colunas 1*/
}

.contain-inferior__nome {
    justify-self: center;
    font-size: 14px;
    grid-area: meio;
    margin-top: 5px;
}

.contain-inferior__titolo {
    align-self: end;
    background-color: rgba(124, 9, 9, 0.397);
    border-radius: 10px;
    border-top: 3px solid rgba(0, 0, 0, 0.342);
    grid-area: meio;
    margin-bottom: 25px;
    height: 20px;
    width: 100%;
}

.contain-inferior__titolo--tripulacao {
    text-align: center;
}

/*Ataque e Defesa*/
.geral {
    align-items: center;
    display: flex; 
    margin-top: 5px;
    width: 85%;
}

.geral.ataque {
   grid-area: inicio;
   justify-self: end;
}

.geral.defesa {
    justify-self: start;
    grid-area: fim;
}

.img-icon {
    background: url(../../img/icons/akumanum.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
}

.img-icon.ataque {
  margin-left: 1px;
} 

.img-icon.defesa {
    height: 18px;
    width: 18px;
}

.defesa.img-icon {
    background: url(../../img/icons/vidro.jpg);
    background-size: cover;
}

.para {
    margin-left: 2px;
    font-size: 10px;
}

.dest {
    border-radius: 5px;
    background-color: #0011ff63;
    padding: 2px;
}

.dest.def {
    background-color: rgba(0, 255, 255, 0.281);
}

@media (max-width: 913px) {
    .carta {
        display: grid;
        grid-template: .5fr 5.7fr 1fr / 1fr;
        grid-template-areas: 
            "superior"
            "meio"
            "inferior";
    }
    .contain-crts__carta {
        height: 410px;
        width: 300px;
    }

    .carta__power {
        margin-right: 32px;
    }

    .carta__dom-descr {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 14px;
        width: 85%;
    }

    .contain-inferior__titolo {
        margin-bottom: 13px;
        width: 100%;
    }

    .img-icon, .img-icon.defesa {
        display: none;
    }

    .para.ataque{
        margin-left: 10px;
    }
}
/*
┌─────┬─────┬─────┐
│inicio│     │     │ "Tudo dentro é uma linha, e separa as colunas com espaço"
├─────┼─────┼─────┤
│meio │     │     │
├─────┼─────┼─────┤
│fim  │     │     │
└─────┴─────┴─────┘
*/