.contain-crts {
    align-content: flex-start;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    grid-area: meio;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}