main {
    background-color: rgba(102, 15, 15, 0.884);
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    /*overflow-x: auto; testar isso no futuro*/
    height: 100%;
    width: 100%;
}

@media (max-width: 913px) {
   main {
    height: 100%;
    }
}